/* PHASE 0: Sidebar */
.profile-picture {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: -120px;
  position: relative;
}

.profile-info {
  margin: 20px 0;

  
}

.profile-info > h2 {
  font-weight: 700;
  font-size: 24px;
 
}

.profile-info > p {
  margin: 20px 0;
 
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav > li:first-child {
  border-top: 1px solid #ccc;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  display: block;
  padding: 5px;
}

.profile-nav li:hover {
  background: #eee;
}
