.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      margin-left: 20px;
      font-family: $sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}
